body {
    background: #0f2a44;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 40px;
}


.container {
    width: 720px;
    margin: 60px auto;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 35px;
}

.header span {
    letter-spacing: 2px;
}


.header img {
    width: 45px;
}

.name {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;

}

th {
    text-align: left;
    font-size: 18px;
    letter-spacing: 2px;
    color: #9fb6cc;
    padding-bottom: 15px;
}

td {
    padding: 10px 0;
    font-size: 18;
}

.credit {
    color: white;
}

.overdrawn {
    color: orange;
}

span{
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 4px;
}
